/* Reset margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make sure the body and root container take up the full viewport */
html,#root {
  width: 100%;
  height: 100%;
}

/* Set a base font for consistency */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: #40424f;
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  margin-bottom: 32x;
}

.header > div > p {
  padding-top: 16px;
  color: rgb(195, 195, 195);
}


img {
  width: 200px;
  height: auto;
  padding: 12px;
  border-radius: 6px;
}

.image-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  width: 100%; /* Makes the image responsive */
  height: auto; /* Maintains aspect ratio */
  min-width: 200px; /* Ensures it doesn't shrink too much */
  max-width: 300px; /* Prevents it from getting too large */
  object-fit: cover; /* Crops if needed to fit */
  border-radius: 10px; /* Optional for rounded corners */
  background-color: lightslategray;
  
}

.cart-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

button {
  background-color: #000;
  border: 4px solid #fff;
  color: #fff;
  padding: 12px 24px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 4px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  image-rendering: pixelated;
  transition: background-color 0.3s ease;
}

button:hover {
  font-size: 26px;
  background-color: #fff;
  color: #8d0000;
}
